* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;

    @include mobile-screen {
        font-size: 61%;
    }
}


div#container {
    width: 100%;
    max-width: 1440px;
    margin: 0;
    height: 100vh;

    @include tablet-screen {
        max-width: 1024px;
    }

    @include mobile-screen {
        max-width: 768px;
    }
}