// couleurs

$color-footer: #90D3C4;
$color-graphic: hsl(167, 40%, 24%);
$color-photo: hsl(198, 62%, 26%);
$color-bg1: hsl(51, 100%, 49%);
$color-bg2: hsl(7, 99%, 70%);

$color-title: hsl(212, 27%, 19%);
$color-txt: hsl(232, 10%, 55%);
$color-txt2: hsl(210, 4%, 67%);
$color-txt3: hsl(213, 9%, 39%);
$white: hsl(0, 0%, 100%);